<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>

<div class="container text-center">
  <button type="button" name="button"><a href="/photo/new">Add Another</a></button>

  <div class="jumbotron well">
    <h1><%= photo.keyword %></h1>
  <img src="<%= photo.link %>" alt="<%= photo.keyword %>" width="70%">
  </div>
  <button class="btn"><a href="/photo">Back</a></button>
<button class='btn'>  <a href="<%= `/photo/${photo.id}/edit` %>">Edit</a> </button>
  <form action="<%= `/photo/${photo.id}?_method=DELETE` %>" method="POST">
    <input type="submit" value="Delete" />
  </form>
</div>


<% include ../partials/end.ejs %>
