<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>

<div class="container">
  <div class="jumbotron">
    <h1><%= blog.title %></h1>
    <p><%= blog.content %></p>
  </div>
  <% if (author) { %>
  <h4>Written By:  <%= author.name %></h4>
  <% } %>
  <button class="btn"><a href="/blog">Back</a></button>
<button class='btn'>  <a href="<%= `/blog/${blog.id}/edit` %>">Edit</a> </button>
  <form action="<%= `/blog/${blog.id}?_method=DELETE` %>" method="POST">
    <input type="submit" value="Delete" />
  </form>
</div>


<% include ../partials/end.ejs %>
